/* Fix success/error overflow button border radius */
:host {
	border-radius: var(--ha-button-border-radius);
	overflow: hidden;
}

/* Redefine colors to tokens */
button {
	background-color: var(--button-background-color);
}
slot {
	color: var(--button-text-color);
}

/* State layer */
button::after {
	content: '';
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity var(--md-sys-motion-expressive-effects-default);
	background-color: var(--state-layer-color);
}
@media (hover: hover) {
	button:hover::after {
		opacity: 0.08;
	}
}
button:focus-visible::after,
button:active::after {
	opacity: 0.18;
}

/* Accent -> Tonal */
:host([appearance='accent']) {
	--button-background-color: var(--md-sys-color-secondary-container);
	--button-text-color: var(--md-sys-color-on-secondary-container);
	--state-layer-color: var(--md-sys-color-on-secondary-container);
}

/* Filled */
:host([appearance='filled']) {
	--button-background-color: var(--md-sys-color-primary);
	--button-text-color: var(--md-sys-color-on-primary);
	--state-layer-color: var(--md-sys-color-on-primary);
}

/* Outlined */
:host([appearance='outlined']) {
	--button-background-color: transparent;
	--button-text-color: var(--md-sys-color-on-surface-variant);
	--state-layer-color: var(--md-sys-color-on-surface-variant);
}
:host([appearance='outlined']) button {
	border-color: var(--md-sys-color-outline-variant);
	border-width: 1px;
	border-style: solid;
}

/* Plain -> Text */
:host([appearance='plain']) {
	--button-background-color: transparent;
	--button-text-color: var(--md-sys-color-primary);
	--state-layer-color: var(--md-sys-color-primary);
}

/* Disabled */
:host([disabled]) button {
	background-color: rgba(from var(--md-sys-color-on-surface) r g b / 0.1);
}
:host([disabled]) slot {
	color: rgba(from var(--md-sys-color-on-surface) r g b / 0.38);
}
@media (hover: hover) {
	:host([disabled]) button:hover::after {
		opacity: 0;
	}
}
:host([disabled]) button:focus-visible::after,
:host([disabled]) button:active::after {
	opacity: 0;
}
