/* ha-card-outlined.css */
/* Outlined cards */
:host,
body {
	--ha-card-background: var(--md-sys-color-surface);
	--ha-card-box-shadow: var(--md-sys-elevation-level0);
	--ha-card-border-width: 1px;
	--ha-card-border-color: var(--md-sys-color-outline-variant);
}
