/* Filled cards */
:host,
body {
	--ha-card-background: var(--md-sys-color-surface-container-highest);
	--ha-card-box-shadow: none;
	--ha-card-border-width: 0;
	--ha-card-border-color: transparent;
}
