/* Remove border, fix border radius, make width dynamic, add transition */
.mdc-drawer {
	border-width: 0;
	width: calc(var(--mdc-drawer-width) + 64px);
	transition: var(--drawer-transition);
	padding-left: 64px;
	translate: -64px 0;
}
.mdc-drawer:dir(rtl) {
	padding-left: unset;
	padding-right: 64px;
	translate: 64px 0;
}

/* Fix non-modal border radius */
.mdc-drawer {
	border-radius: 0;
}

/* Add border radius and variable width to modal */
.mdc-drawer--modal {
	border-top-right-radius: var(--mdc-shape-large);
	border-bottom-right-radius: var(--mdc-shape-large);
	min-width: 220px;
	width: fit-content;
	max-width: 360px;
}
