/* Decrease border radius, increase height, use primary container colors */
.mdc-fab {
	inset-block-end: var(--footer-offset, 0);
	height: 56px;
	border-radius: var(--md-sys-shape-corner-large);
	background-color: var(--md-sys-color-primary-container);
}
.mdc-fab__label,
.mdc-fab__icon {
	color: var(--md-sys-color-on-primary-container);
}
.ripple {
	border-radius: var(--md-sys-shape-corner-large);

	--mdc-ripple-color: var(--md-sys-color-on-primary-container);
}

/* Fix icon margins */
.mdc-fab__icon {
	margin-left: 0;
	margin-right: 8px;
}

/* Expressive extended FAB font */
.mdc-fab--extended {
	font-size: 16px;
	font-weight: var(--md-ref-typeface-weight-medium);
	line-height: 24px;
	letter-spacing: 0.15px;
}
