/* Fix font */
.mdc-deprecated-list-item__text {
	font-size: var(--md-sys-typescale-body-large-size);
	font-weight: var(--md-sys-typescale-body-large-weight);
	line-height: var(--md-sys-typescale-body-large-line-height);
	letter-spacing: var(--md-sys-typescale-body-large-tracking);
}

/* Fix slot size for switches */
.mdc-deprecated-list-item__meta {
	min-width: 24px;

	--mdc-list-item-meta-size: min-content;
}
