/* Hide title */
.title {
	display: none;
}
:host([narrow]) .menu {
	height: 12px;
}

/* Fix menu button size */
.menu {
	width: min-content;
	padding: 0;
	margin: 0 16px;
}

/* Fix list heights*/
ha-md-list {
	height: calc(
		100% - var(--header-height) - 144px - env(safe-area-inset-bottom)
	);
}
:host([narrow]) ha-md-list {
	height: calc(
		100% - var(--header-height) - 92px - env(safe-area-inset-bottom)
	);
}

/* Remove scrollbar */
.ha-scrollbar {
	scrollbar-width: none;
}
::-webkit-scrollbar {
	width: 0;
}

/* Modify sidebar item size and animate background when expanding/retracting */
ha-md-list-item {
	height: 32px;
	width: 56px;
	transition: all var(--md-sys-motion-expressive-spatial-default);
	margin: 12px;
	flex-direction: column;
	justify-content: center;
	border-radius: var(--md-sys-shape-corner-full);

	--sidebar-item-state-layer-shape: var(--md-sys-shape-corner-full);
	--md-list-item-leading-space: 16px;
	--md-list-item-trailing-space: 16px;

	/* Enabling overflow displays the labels but causes other issues */
	overflow: hidden;
	/* --md-item-overflow: visible; */
}

/* Expanded rail indicator should fit content width */
:host([expanded]) ha-md-list-item {
	height: 56px;
	width: calc(var(--mdc-drawer-width) - env(safe-area-inset-left));
	max-width: fit-content;
	margin: 0 12px;
}

/* Prevent text jumpiness on opening sidebar */
.item-text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	line-height: var(--md-sys-typescale-label-large-line-height);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}

/* Display label when not expanded */
:host(:not([expanded])) ha-md-list-item .item-text {
	position: absolute;
	bottom: -16px;
	left: -12px;
	width: var(--mdc-drawer-width);
	text-align: center;
	white-space: initial;
	height: var(--md-sys-typescale-label-medium-line-height);
	font-weight: var(--md-ref-typeface-weight-medium);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
}

/* Change background of current destination icon and add scale transition */
ha-md-list-item::before {
	content: '';
	border-radius: var(--sidebar-item-state-layer-shape);
	transition: transform var(--md-sys-motion-expressive-spatial-fast);
	transform: scaleX(0);
}
ha-md-list-item.selected::before {
	border-radius: var(--sidebar-item-state-layer-shape);
	background-color: var(--sidebar-selected-background);
	opacity: 1;
	transform: scaleX(1);
}

/* Fix bottom divider color */
.divider {
	--divider-color: var(--md-sys-color-outline-variant);
}

/* Fix rail sidebar badge color, size, and position */
.badge[slot='start'] {
	color: var(--on-error-color);
	background-color: var(--error-color);
	font-weight: var(--md-sys-typescale-label-large-weight);
	height: 8px;
	min-width: 8px;
	padding: 4px;
	top: 8px;
	left: 50%;
	z-index: 2;
}

/* Use sidebar text color with no background on drawer badges */
.badge[slot='end'] {
	color: var(--sidebar-text-color);
	background-color: transparent;
}
.selected .badge[slot='end'] {
	color: var(--sidebar-selected-text-color);
}

/* Disable tooltip */
.tooltip {
	display: none;
	pointer-events: none;
}

/* Use round indicator for profile */
.user {
	height: 56px;
	margin: 0 12px;
}
ha-user-badge {
	margin-left: -8px;
}
