/* Kiosk mode hide sidebar */
:host {
	width: var(--kiosk-sidebar-width, 100%);
}

/* Hide title but keep it tappable */
.title {
	color: transparent;
}
:host([narrow]) .menu:not(:has(mwc-button, ha-icon-button)) {
	height: 12px;
}

/* Fix menu button size */
.menu {
	width: min-content;
	padding: 0;
	margin: 0 24px;
	border-width: 0;
}

/* Fix list heights*/
ha-md-list {
	height: calc(
		100% - var(--header-height) - 144px - env(safe-area-inset-bottom)
	);
}
:host([narrow]) ha-md-list {
	height: calc(
		100% - var(--header-height) - 92px - env(safe-area-inset-bottom)
	);
}

/* Remove scrollbar */
.ha-scrollbar {
	scrollbar-width: none;
}
::-webkit-scrollbar {
	width: 0;
}

/* Modify sidebar item size and animate background when expanding/retracting */
ha-md-list-item {
	height: 64px;
	width: var(--mdc-drawer-width);
	transition: all var(--md-sys-motion-expressive-spatial-default);
	margin: 0;
	flex-direction: column;
	justify-content: center;

	--sidebar-item-state-layer-shape: var(--md-sys-shape-corner-full);
	--md-list-item-leading-space: 16px;
	--md-list-item-trailing-space: 16px;
	--md-focus-ring-shape-end-end: var(--md-sys-shape-corner-full);
	--md-focus-ring-shape-end-start: var(--md-sys-shape-corner-full);
	--md-focus-ring-shape-start-end: var(--md-sys-shape-corner-full);
	--md-focus-ring-shape-start-start: var(--md-sys-shape-corner-full);
}

/* Expanded rail indicator should fit content width */
:host([expanded]) ha-md-list-item {
	height: 56px;
	width: calc(var(--mdc-drawer-width) - env(safe-area-inset-left));
	max-width: fit-content;
	margin: 0 20px;
	border-radius: var(--md-sys-shape-corner-full);

	--sidebar-item-display: block;
}

/* Fix collapsed rail selected text color */
ha-md-list-item.selected {
	--md-list-item-label-text-color: var(--sidebar-selected-text-color);
}

/* Prevent text jumpiness on opening sidebar */
.item-text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	line-height: var(--md-sys-typescale-label-large-line-height);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}

/* Make collapsed navigation rail items vertical and hide default ripple */
:host(:not([expanded])) ha-md-list-item {
	border-radius: 0;
	padding-top: 4px;
	padding-bottom: 6px;

	--md-list-item-flex-direction: column;
	--ha-md-list-item-gap: 10px;
	--md-ripple-hover-color: transparent;
	--md-ripple-pressed-color: transparent;
}

/* Display label when not expanded */
:host(:not([expanded])) ha-md-list-item .item-text {
	width: var(--mdc-drawer-width);
	text-align: center;
	white-space: initial;
	box-sizing: border-box;
	padding: 0 2px;
	margin-top: 2px;
	height: var(--md-sys-typescale-label-medium-line-height);
	font-weight: var(--md-ref-typeface-weight-medium);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
}

:host(:not([expanded])) ha-md-list-item ha-svg-icon,
:host(:not([expanded])) ha-md-list-item ha-icon {
	position: relative;
	top: 4px;
}

/* Change background of current destination icon and add scale transition */
:host([expanded]) ha-md-list-item::before,
:host(:not([expanded])) .user::before {
	content: '';
	border-radius: var(--sidebar-item-state-layer-shape);
	background-color: var(--sidebar-selected-background);
	opacity: 1;
	transition: transform var(--md-sys-motion-expressive-spatial-fast);
	transform: scaleX(0);
}
:host([expanded]) ha-md-list-item.selected::before,
:host(:not([expanded])) .user.selected::before {
	transform: scaleX(1);
}
:host(:not([expanded])) .user.selected::before {
	width: 56px;
	margin-inline-start: 20px;
}
:host(:not([expanded])) ha-md-list-item:not(.user)::before {
	display: none;
}
:host(:not([expanded])) ha-svg-icon::before,
:host(:not([expanded])) ha-icon::before,
:host(:not([expanded])) ha-svg-icon::after,
:host(:not([expanded])) ha-icon::after,
:host(:not([expanded])) ha-user-badge::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -16px;
	display: block;
	height: 32px;
	width: 56px;
	border-radius: var(--sidebar-item-state-layer-shape);
	z-index: -1;
}
:host(:not([expanded])) .notifications ha-svg-icon::after {
	height: 56px;
	top: -16px;
}
:host(:not([expanded])) ha-user-badge::after {
	height: 56px;
	top: -8px;
	left: -8px;
	z-index: 0;
}
:host(:not([expanded])) ha-svg-icon::before,
:host(:not([expanded])) ha-icon::before {
	background-color: var(--sidebar-selected-background);
	opacity: 1;
	transform: scaleX(0);
	transition: transform var(--md-sys-motion-expressive-spatial-fast);
}
:host(:not([expanded])) ha-md-list-item.selected ha-svg-icon::before,
:host(:not([expanded])) ha-md-list-item.selected ha-icon::before {
	transform: scaleX(1);
}

/* Collapsed navigation rail icon state layers */
:host(:not([expanded])) ha-svg-icon::after,
:host(:not([expanded])) ha-icon::after,
:host(:not([expanded])) ha-user-badge::after {
	background-color: var(--md-sys-color-on-secondary-container);
	opacity: 0;
	transition: opacity var(--md-sys-motion-expressive-effects-default);
}
@media (hover: hover) {
	:host(:not([expanded])) ha-md-list-item:hover ha-svg-icon::after,
	:host(:not([expanded])) ha-md-list-item:hover ha-icon::after,
	:host(:not([expanded])) ha-md-list-item:hover ha-user-badge::after {
		opacity: 0.08;
	}
}
:host(:not([expanded]))
	ha-md-list-item:has(input:focus-visible)
	ha-svg-icon::after,
:host(:not([expanded])) ha-md-list-item:has(input:focus-visible) ha-icon::after,
:host(:not([expanded]))
	ha-md-list-item:has(input:focus-visible)
	ha-user-badge::after,
:host(:not([expanded])) ha-md-list-item:active ha-svg-icon::after,
:host(:not([expanded])) ha-md-list-item:active ha-icon::after,
:host(:not([expanded])) ha-md-list-item:active ha-user-badge::after {
	opacity: 0.18;
}

/* Fix navigation rail item icon z-index */
ha-md-list-item ha-svg-icon,
ha-md-list-item ha-icon {
	z-index: 0;
}

/* Fix hide/show panel button */
.hide-panel,
.show-panel {
	z-index: 1;
}

/* Rail notification badge */
.badge {
	color: var(--on-error-color);
	background-color: var(--error-color);
	font-size: var(--md-sys-typescale-label-small-size);
	font-weight: var(--md-sys-typescale-label-small-weight);
	line-height: var(--md-sys-typescale-label-small-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
	height: 8px;
	min-width: 8px;
	padding: 4px;
}
.badge[slot='start'] {
	top: 8px;
	left: 50%;
	z-index: 2;
}
.configuration .badge[slot='start'] {
	top: 0;
}
.badge[slot='end'] {
	position: absolute;
	top: 12px;
	left: 28px;
}

/* Disable tooltip */
.tooltip {
	display: none;
	pointer-events: none;
}

/* Fix user badge position */
ha-user-badge {
	margin-left: -8px;
}

/* Fix notifications and user badge size and position */
:host(:not([expanded])) .notifications,
:host(:not([expanded])) .user {
	height: 56px;

	--md-item-overflow: visible;
}
:host(:not([expanded])) .notifications ha-svg-icon {
	position: relative;
	top: 12px;
}
:host(:not([expanded])) .user ha-user-badge {
	position: relative;
	top: 6px;
}

/* Do not use label for bottom section*/
:host(:not([expanded])) .notifications .item-text,
:host(:not([expanded])) .user .item-text {
	display: none;
}
