/* Set Material Design 3 slider variables that should only apply to redesigned sliders */
:host {
	padding: 8px 0;
	align-items: center;
	--md-slider-handle-height: 44px;
	--md-slider-handle-width: 16px;
	--md-slider-handle-shape: 4px;
	--md-slider-hover-handle-color: var(--md-slider-handle-color);
	--md-slider-pressed-handle-color: var(--md-slider-handle-color);
	--md-slider-focus-handle-color: var(--md-slider-handle-color);
	--md-slider-disabled-handle-color: var(--md-slider-handle-color);
}

/* Animation */
.track::before,
.track::after,
.handleContainer {
	transition:
		clip-path var(--md-sys-motion-expressive-spatial-default),
		inset-inline-start var(--md-sys-motion-expressive-spatial-default),
		inline-size var(--md-sys-motion-expressive-spatial-default);
}

/* Space around handle */
.handleNub {
	height: var(--md-slider-active-track-height);
	box-shadow: 0 0 1px 0 var(--md-slider-handle-color);
	width: 16px;
	border-radius: 0;
}

/* Actual handle */
.handleNub::after {
	content: '';
	position: absolute;
	inset: 0;
	width: 4px;
	height: 44px;
	margin: auto;
	background: var(--md-sys-color-primary);
	border-radius: var(--md-sys-shape-corner-full);
	transition: scale var(--md-sys-motion-expressive-spatial-fast);
}
:host([disabled]) .handleNub::after {
	background: var(--md-sys-color-on-surface);
}
.hover .handleNub::after,
input:focus-visible ~ .handleContainerPadded .handleNub::after,
input:active ~ .handleContainerPadded .handleNub::after {
	scale: 0.5 1;
}

/* Reshape focus ring */
md-focus-ring {
	height: 56px;
	width: 12px;
	z-index: 1;
}

/* Set label width and position */
.label {
	width: var(--md-slider-label-container-width);
	translate: 0 -14px;
}

/* Remove teardrop from label */
.label::before {
	display: none;
}

/* Do not show label on focus-within if hover class is not present */
:host(:focus-within)
	.container
	.handleContainerPadded
	.handleContainerBlock
	:not(.hover)
	.label {
	transform: scale(0);
}

/* Add track inner corner shape */
.handle::before,
.handle::after {
	content: '';
	position: relative;
	height: var(--md-slider-active-track-height);
	width: 4px;
}
.handle::before {
	inset-inline-start: -8px;
	border-start-end-radius: 2px;
	border-end-end-radius: 2px;
}
.handle::before,
.handle:dir(rtl)::after {
	box-shadow: 2px 0 0 var(--md-slider-handle-color);
}
.handle::after {
	inset-inline-end: -8px;
	border-start-start-radius: 2px;
	border-end-start-radius: 2px;
}
.handle::after,
.handle:dir(rtl)::before {
	box-shadow: -2px 0 0 var(--md-slider-handle-color);
}
