/* Material 3 colors and adjust padding to match footprint of old switch  */
:host {
	overflow: hidden;
	padding: 0;
	--switch-checked-button-color: var(--md-switch-checked-button-color);
	--switch-unchecked-button-color: var(--md-switch-unchecked-button-color);
	--switch-checked-track-color: var(--md-switch-checked-track-color);
	--switch-unchecked-track-color: var(--md-switch-unchecked-track-color);
}

/* Increase track size, make always opaque, and border. */
.mdc-switch__track {
	height: 32px;
	width: 52px;
	border-radius: var(--md-sys-shape-corner-full);
	opacity: 1;
	border: 2px solid var(--switch-unchecked-button-color);
}
/* Remove border when on */
.mdc-switch--checked .mdc-switch__track {
	border: none;
}

/* Fix thumb position and update transition */
.mdc-switch__thumb-underlay {
	top: -8px;
	left: -8px;
	transition:
		transform var(--md-sys-motion-expressive-spatial-fast),
		background-color var(--md-sys-motion-expressive-effects-fast),
		border-color var(--md-sys-motion-expressive-effects-fast);
}
/* Thumb position when on */
.mdc-switch--checked .mdc-switch__thumb-underlay {
	transform: translateX(20px);
}

/* Switch thumb color and size */
.mdc-switch__thumb {
	height: 16px;
	width: 16px;
	background: var(--switch-unchecked-button-color);
	border: none;
	box-shadow: unset;
	transition: scale var(--md-sys-motion-expressive-spatial-fast);
}
/* Switch on thumb color and size */
.mdc-switch--checked .mdc-switch__thumb {
	background: var(--switch-checked-button-color);
	scale: 1.5;
}

/* Thumb active size */
@media (hover: hover) {
	.mdc-switch__thumb:hover {
		scale: 1.75;
	}
}
.mdc-switch__thumb:has(input:focus-visible),
.mdc-switch__thumb:active {
	scale: 1.75;
}

/* Remove ripple */
mwc-ripple {
	display: none;
}

/* Track state layers */
.mdc-switch__track::after {
	content: '';
	position: absolute;
	height: 32px;
	width: 52px;
	border-radius: var(--md-sys-shape-corner-full);
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: 1;
	background: var(--switch-unchecked-track-state-layer);
	opacity: 0;
	transition: opacity var(--md-sys-motion-expressive-effects-default);
}
.mdc-switch--checked .mdc-switch__track::after {
	background: var(--switch-checked-track-color);
}
@media (hover: hover) {
	.mdc-switch:hover .mdc-switch__track::after {
		opacity: 0.08;
	}
}
.mdc-switch:has(input:focus-visible) .mdc-switch__track::after,
.mdc-switch:active .mdc-switch__track::after {
	opacity: 0.18;
}

/* Thumb state layers */
@media (hover: hover) {
	.mdc-switch:hover .mdc-switch__thumb {
		background: var(--switch-unchecked-button-state-layer);
	}
	.mdc-switch--checked:hover .mdc-switch__thumb {
		background: var(--switch-checked-button-state-layer);
	}
}
.mdc-switch:has(input:focus-visible) .mdc-switch__thumb,
.mdc-switch:active .mdc-switch__thumb {
	background: var(--switch-unchecked-button-state-layer);
}
.mdc-switch--checked:has(input:focus-visible) .mdc-switch__thumb,
.mdc-switch--checked:active .mdc-switch__thumb {
	background: var(--switch-checked-button-state-layer);
}

/* Input element position corrections */
.mdc-switch__native-control {
	position: relative;
	top: -16px;
	left: -14px;
	right: unset;
	bottom: unset;
	scale: 1;
}
.mdc-switch__native-control:dir(rtl) {
	left: 34px;
}
.mdc-switch--checked .mdc-switch__native-control {
	transform: translateX(-23px);
	scale: 0.7;
}
@media (hover: hover) {
	.mdc-switch__thumb:hover .mdc-switch__native-control {
		transform: translateX(-8px);
		scale: 0.56;
	}
	.mdc-switch--checked .mdc-switch__thumb:hover .mdc-switch__native-control {
		transform: translateX(-25px);
	}
}
.mdc-switch__thumb:has(input:focus-visible) .mdc-switch__native-control,
.mdc-switch__thumb:active .mdc-switch__native-control {
	scale: 0.6;
}
