/* x ha-textfield.css */
/* Fix top corners */
/* .mdc-text-field {
	border-radius: var(--md-sys-shape-corner-extra-small-top);
} */

/* Fix cursor when used for color */
:host([type='color']) label,
:host([type='color']) .mdc-text-field__input {
	cursor: pointer;
}

/* Make corners match my theme */
.mdc-text-field {
	border-top-left-radius: var(--md-sys-shape-corner-large);
	border-top-right-radius: var(--md-sys-shape-corner-large);
	border-bottom-right-radius: var(--md-sys-shape-corner-large);
	border-bottom-left-radius: var(--md-sys-shape-corner-large);
	overflow: hidden;
}
