/* ha-user-badge.css */
/* Move user picture above navigation background */
:host([slot='item-icon']) .initials,
:host([slot='item-icon']) .picture {
	position: absolute;
	z-index: 2;
	margin: 4px 0;
	padding-inline-start: 4px;
}
