/* home-assistant-main.css */
/* Change drawer width */
:host {
	--mdc-drawer-width: var(--kiosk-sidebar-width, 96px);
	--drawer-transition: all var(--md-sys-motion-expressive-spatial-default);
}
:host([expanded]) {
	--mdc-drawer-width: var(--kiosk-sidebar-width, 256px);
	--drawer-transition: all var(--md-sys-motion-expressive-spatial-fast);
}
:host([modal]) {
	--mdc-drawer-width: var(--kiosk-sidebar-width, 0px);
	--drawer-transition: all var(--md-sys-motion-expressive-spatial-fast);
}
