/* Make header transparent and define scroll transition */
.header {
	background-color: transparent;
	pointer-events: none;
	--scroll-transition: transform var(--md-sys-motion-duration-short1)
		var(--md-sys-motion-easing-standard);
}

/* Hide single tab view dashboard title */
ha-menu-button + .main-title {
	display: none;
}

/* Subview title font */
.main-title {
	font-size: var(--md-sys-typescale-title-large-size);
	font-weight: var(--md-sys-typescale-title-large-weight);
	line-height: var(--md-sys-typescale-title-large-line-height);
	letter-spacing: var(--md-sys-typescale-title-large-tracking);
}

/*
 * Move menu and action items buttons to header
 * Add scroll transition to header buttons
 * User different color for header trailing icons
 */
.action-items {
	position: absolute;
	right: 0px;
	color: var(--app-header-edit-text-color);
}
.action-items,
ha-menu-button {
	padding: 0 4px;
}
.action-items,
.main-title,
ha-menu-button,
ha-icon-button-arrow-prev[slot='navigationIcon'] {
	transition: var(--scroll-transition);
	pointer-events: all;
}
.action-items:dir(rtl) {
	right: unset;
	left: 0px;
}

/* Hide header buttons and title if not scrolled to top  */
:host([scrolled]) .action-items,
:host([scrolled]) .main-title,
:host([scrolled]) ha-menu-button,
:host([scrolled]) ha-icon-button-arrow-prev[slot='navigationIcon'] {
	transform: translateY(calc(-1 * var(--header-height)));
}

/* Remove toolbar padding */
.toolbar {
	padding: 0;
}

/* Force hide subview tab just in case */
.hide-tab {
	display: none;
}

/* Turn view tabs into a separate footer */
sl-tab-group {
	width: calc(100vw - var(--mdc-drawer-width, 0px));
	margin: 0;
	margin-inline: 0;
	pointer-events: all;
}
.edit-tab-bar,
.toolbar > sl-tab-group {
	position: fixed;
	top: unset;
	bottom: 0;
	height: var(--footer-height);
	background: var(--navbar-background);
	box-shadow: var(--md-sys-elevation-level2);
	padding-bottom: env(safe-area-inset-bottom);
	pointer-events: all;
}

/* Make tabs full width*/
sl-tab-group::part(tabs) {
	width: 100%;
	justify-content: space-evenly;
}

/* Display view tab contents vertically and calculate width to fill entire toolbar */
sl-tab {
	display: flex;
	padding: 6px 0;
	flex-direction: column;
	flex: 1;
	gap: 4px;
	height: var(--footer-height);
	box-sizing: border-box;
	min-width: 72px;
	max-width: 156px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	--label: attr(aria-label);
}

/* Remove tab padding, icon justify center, and remove tap highlight color */
sl-tab::part(base) {
	justify-content: center;
	padding: 0px;
	-webkit-tap-highlight-color: transparent;
}

/* Add background and color current view icon */
sl-tab ha-icon::before {
	content: '';
	position: absolute;
	height: 32px;
	width: 56px;
	border-radius: var(--md-sys-shape-corner-full);
	background: var(--md-sys-color-secondary-container);
	transition: transform var(--md-sys-motion-expressive-spatial-fast);
	transform: scaleX(0);
}
sl-tab[active] ha-icon::before {
	transform: scaleX(1);
}
sl-tab[active] ha-icon {
	color: var(--md-sys-color-on-secondary-container);
}

/* Prevent edit mode icon from shrinking on small width displays */
ha-svg-icon {
	min-width: 24px;
}

/* Reduce height of edit mode view icons */
sl-tab[active] .edit-icon.view {
	align-items: center;
	height: 32px;
}

/* View icon display centering and inactive color */
ha-icon {
	height: 32px;
	width: 56px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	color: var(--md-sys-color-on-surface-variant);
}

/* View icon state layers */
sl-tab ha-icon::after {
	content: '';
	position: absolute;
	height: 32px;
	width: 56px;
	border-radius: var(--md-sys-shape-corner-full);
	z-index: 0;
	background: var(--md-sys-color-on-secondary-container);
	opacity: 0;
	transition: opacity var(--md-sys-motion-expressive-effects-fast) 0s;
}
@media (hover: hover) {
	sl-tab:hover ha-icon::after {
		opacity: 0.08;
	}
}
sl-tab:focus-visible ha-icon::after,
sl-tab:active ha-icon::after {
	opacity: 0.1;
}

/* Tabs with no icon */
sl-tab:not(:has(ha-icon))::part(base) {
	color: transparent;
	line-height: 32px;
}

/* View label */
sl-tab::after {
	content: var(--label);
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	font-weight: var(--md-ref-typeface-weight-medium);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
	overflow: hidden;
	height: 100%;
	color: var(--md-sys-color-on-surface-variant);
	display: flex;
	align-items: center;
	z-index: 1;
}

/* Current view label color */
sl-tab[active]::after {
	color: var(--md-sys-color-secondary);
	font-weight: var(--md-sys-typescale-label-large-weight-prominent);
}

/* Make edit mode current view tab fit all buttons */
.edit-mode sl-tab[active] {
	min-width: fit-content;
}

/* Move edit mode action items back to header */
.edit-mode .action-items {
	position: static;
}

/* Style add view button to look like a FAB */
.edit-mode:has(hui-sections-view) {
	--add-view-fab-bottom: 16px;
}
#add-view {
	position: fixed;
	bottom: calc(
		var(--add-view-fab-bottom, 84px) +
			var(--kiosk-header-height, var(--footer-height)) +
			env(safe-area-inset-bottom)
	);
	right: calc(16px + env(safe-area-inset-right));
	border-radius: var(--md-sys-shape-corner-large);
	background-color: var(--md-sys-color-primary-container);
	color: var(--md-sys-color-on-primary-container);
	height: 56px;
	width: 56px;
	justify-content: center;
	overflow: hidden;
	box-shadow: var(--mdc-fab-box-shadow);

	--mdc-icon-button-size: 64px;
}

/* Fix edit mode menu link color */
.menu-link {
	color: var(--app-header-edit-text-color);
}

/* Fix horizontal overflow */
#view {
	overflow-x: hidden;
}

/* Add bottom footer padding when present */
.header:has(sl-tab-group) + #view {
	padding-bottom: calc(
		var(--kiosk-header-height, var(--footer-height)) +
			env(safe-area-inset-bottom)
	);
}

/* Fix edit mode view top padding */
.edit-mode #view {
	padding-top: calc(var(--header-height) + env(safe-area-inset-top));
}

/* Header Cards pointer events fix */
#headerCards {
	pointer-events: all;
}

/* Large displays alternate navigation bar */
@media (width > 870px) {
	/* Center view tabs */
	sl-tab-group::part(tabs) {
		justify-content: center;
	}

	/* Move label to right of icon */
	sl-tab {
		flex-direction: row;
	}
	sl-tab::after {
		position: absolute;
		translate: 48px -6px;
	}

	/* Position icon to left of indicator */
	sl-tab ha-icon {
		justify-content: flex-start;
		padding-left: 20px;
	}
	sl-tab ha-icon::before,
	sl-tab ha-icon::after {
		content: var(--label);
		color: transparent;
		font-weight: var(--md-ref-typeface-weight-medium);
		font-size: var(--md-sys-typescale-label-medium-size);
		line-height: var(--md-sys-typescale-label-medium-line-height);
		letter-spacing: var(--md-sys-typescale-label-small-tracking);
		height: 40px;
		width: fit-content;
		translate: -16px 0;
		padding: 0 32px;
	}
}
